<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>
<p>

<p>
  <b><a href="/reviews/new/?product_id=<%= @product[:id] %>">Create A New Review</a></b>
<p>

<p>
  <b><a href="/product/cart?product_id=<%= @product.id %>/add-to-cart">Add to Cart</a></b>
<p>

  <p  <b><a href="/product/cart?product_id=<%= @product.id %>/remove-from-cart">Remove from Cart</a></b>>

<p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

