<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>
<p>
</p>

<h2> Your Cart <h2>
<%= render 'cart' %>
<p> 
</p>

<p>
<h2> Reviews for <%= @product.name %> </h2>
 <table> 
    <tr>
    <th> Review Body </th>
    <th> Product Rating </th>
    </tr>
  <% @product.reviews.each do |review| %>
  <tr>
    <td><%= review.body %></td>
    <td><%= review.rating %> </td>
  </tr>
  <% end %>
</table>
<p>
  <b><a class="btn btn-primary" href="/reviews?product_id=<%= @product[:id] %>/new"><i class= "icon-pencil icon-white"></i> Write Review</a></b>
<p>

<%= render 'add_to_cart' %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

